<!DOCTYPE html>
html(lang="en")
    head
        include components/main/head
    body
        include components/main/header

        block content

        include components/main/footer

        include components/main/scripts