header.border-bottom
    .container
        .row
            .col-12
                ul.nav.headerNav
                    li.nav-item
                        a(href="#!").nav-link Главная
                    li.nav-item
                        a(href="#!").nav-link Больше
                        ul.nav.submenu.submenu-one
                            li.nav-item
                                a(href="#!").nav-link Ссылка 1
                            li.nav-item
                                a(href="#!").nav-link Ссылка 2
                            li.nav-item
                                a(href="#!").nav-link Еще меню
                                ul.nav.submenu.submenu-two
                                    li.nav-item
                                        a(href="#!").nav-link Ссылка 1
                                    li.nav-item
                                        a(href="#!").nav-link Ссылка 2
                                    li.nav-item
                                        a(href="#!").nav-link Ссылка 3
                                    li.nav-item
                                        a(href="#!").nav-link Ссылка 4
                            li.nav-item
                                a(href="#!").nav-link Ссылка 4
                    li.nav-item
                        a(href="#!").nav-link Ещё больше
                        ul.nav.submenu.submenu-one
                            li.nav-item
                                a(href="#!").nav-link Ссылка 1
                            li.nav-item
                                a(href="#!").nav-link Ссылка 2
                            li.nav-item
                                a(href="#!").nav-link Ссылка 3
                            li.nav-item
                                a(href="#!").nav-link Ссылка 4
                            li.nav-item
                                a(href="#!").nav-link Ссылка 5
                            li.nav-item
                                a(href="#!").nav-link Ссылка 6
                    li.nav-item
                        a(href="#!").nav-link Блог
                    li.nav-item
                        a(href="#!").nav-link О нас