header.container
    #accordion
        .accordionItem
            h4 Accordion title 1
            .content
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quo, autem aspernatur reiciendis provident harum impedit fugit a ducimus quis fuga asperiores nisi? Harum impedit incidunt, nulla magnam quia ea.
        .accordionItem.active
            h4 Accordion title 2
            .content
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quo, autem aspernatur reiciendis provident harum impedit fugit a ducimus quis fuga asperiores nisi? Harum impedit incidunt, nulla magnam quia ea.
        .accordionItem
            h4 Accordion title 3
            .content
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quo, autem aspernatur reiciendis provident harum impedit fugit a ducimus quis fuga asperiores nisi? Harum impedit incidunt, nulla magnam quia ea.