header.bg-dark
    .container
        .row
            .col-12
                nav.nav.headerNav
                    button.btn.btn-headerMenu
                    .headerNav__inner
                        .headerNav__half
                            a.nav-link(href="#!") new arrivals
                            a.nav-link(href="#!") AMM Collection
                            a.nav-link(href="#!") our story
                        .headerNav__half
                            a.nav-link(href="#!") hand wash cold
                            a.nav-link(href="#!") eats
                            a.nav-link(href="#!") living
                        
                    a.logo(href="#!")
                        img(src="assets/img/logo.png", alt="logo")